/*stylesheet*/

/* vars */
:root{
	--background-color: black;
	--body-color:  #fff;
}

body{

	margin: 0;
	color: var(--body-color);
	/*
	Use intro image as background
		background: url(../images/longintro.png) no-repeat initial;
	Restricts image to fit screen
		background-size: cover;
	*/
}

img{
	display: block;
	width: 100%;
	object-fit: cover;
}

#wrapper{
	margin: 0 auto;
	max-width: 1200px;
}

/* IMAGE CONTAINER */
.container{
	position: relative;
	width: 100%;
	height: 1500px;
}

.image-container{
	width: 100%;
	height: 0;
	padding-top: 45.347%;
	position: sticky;
	top: 0;
	background-image:  url("../images/background.png");
	background-size: cover;
}

/* SCROLL ANIMATION */

.reveal{
	position: relative;
	transform: translateY(150px);
	opacity: 0;
	transition: 2s all ease;
}

.reveal.active{
	transform: translateY(0);
	opacity: 1;
}